@import './src/tailwind.css';
@import './src/variables.css';
@import './src/fonts.css';
@import './src/button.css';
@import './src/checkbox.css';
@import './src/select.css';
@import './src/media.css';
@import './src/directory.css';
@import './src/categories.css';
@import './src/fellows.css';
@import './src/partners.css';
@import './src/collaborators.css';
@import './src/blog.css';
@import './src/mapbox.css';
@import './src/map.css';
@import './src/rri_nav_and_footer.css';

html {
    scroll-behavior: smooth;
}

body.no-overflow {
    overflow: hidden !important;
    overscroll-behavior: contain;
    position: relative !important;
    pointer-events: none;
}

.anchor {
    height: 1px;
    margin-bottom: -1px;
    font-size: 0;
}
.anchor:after {
    content: '';
    inset: 0;
    position: absolute;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(100%); 
    height: 1px; 
    overflow: hidden; 
    position: absolute; 
    white-space: nowrap; 
    width: 1px; 
}

.categories .accordion__trigger {
    @apply bg-green-50 w-full text-green-700 text-left hover:bg-green-100 hover:text-green-800 grid grid-rows-[auto_1fr] h-full;
}
.categories__label {
    @apply px-10 py-6 flex-1;
}
.accordion__panel:not(:first-child) {
    @apply mt-2;
}
.categories .accordion__trigger>:first-child {
    @apply mr-16 flex-1 inline-block;
}
.categories .accordion__panel[data-expanded="true"] {
    @apply bg-green-600 text-white fill-white;
}
.categories .accordion__panel[data-expanded="true"] .accordion__trigger {
    @apply hover:bg-green-700 hover:text-white hover:fill-white;
}
.accordion__trigger__icon {
    @apply flex-none;
}
.categories .accordion__content {
    @apply mt-4 px-10 pb-6;
}
.categories .accordion__content>:not(:first-child) {
    @apply mt-6;
}
.accordion__content[hidden] {
    @apply hidden;
}

.coalition-map {
    @apply w-full aspect-map bg-neutral-50 lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-5 lg:self-start lg:aspect-none lg:h-screen lg:sticky lg:top-0;
}
.coalition-map:not(:first-child) {
    @apply mt-26;
}


.search-filter-inputs {
    @apply w-full pl-6;
}
.search-filter-inputs>label {
    @apply flex items-center text-text text-body cursor-pointer;
}

.search-results__group {
    @apply flex items-start;
}
.search-results__group__letter {
    @apply w-[0.5rem] py-4 mr-10 font-semibold;
}

#intro:before {
     content: '';
    @apply absolute left-0 top-0 right-0 bottom-42 bg-smoky-blue-50 z-0;
}

.map-tab {
    @apply text-h2-small lg:text-h2-large text-neutral-200 opacity-75 hover:text-smoky-blue-300 hover:opacity-100;
}

[aria-selected="true"] .map-tab {
    @apply text-smoky-blue-600 opacity-100;
}


#mapping-platform [role=tabpanel]:not([hidden]) {
    @apply md:grid;
}
#mapping-platform [role=tabpanel] {
    @apply w-full md:relative md:z-10 md:col-start-1 md:col-end-6 md:row-start-2 md:row-end-3 md:grid-cols-5 md:gap-x-26 md:max-w-content md:mx-auto lg:h-full lg:max-w-none;
}
#mapping-platform .member-focus {
    @apply w-full;
}


/* #mapping-platform [role=tabpanel]:not(#search) {
    @applym grid grid-cols-5 gap-x-26;
} */

.map-category-toggle {
    @apply rounded-xl bg-green-50 text-green-700 hover:bg-green-100 overflow-hidden w-full text-left;
}

.map-category-toggle__thumb {
    @apply w-full overflow-hidden aspect-category-thumb;
}
.map-category-toggle__heading {
    @apply p-10;
}

.cats-landing {
    @apply col-start-1 col-end-5;
}

.directory__partner {
    @apply flex flex-col h-full w-full bg-green-50 rounded-l p-6 gap-y-16 text-green-700 hover:bg-green-100;
}
.directory__partner__logo {
    @apply w-full aspect-square max-w-[8.125rem];
}
.directory__partner__name {
    @apply w-full flex-1;
}

/**
 * Map scroll interaction blockers
 */
#map_container:before,
#map_container:after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    width: calc((100% - 107rem) * 0.5);
    z-index: 5;
}
#map_container:before {
    left: 0;
}
#map_container:after {
    right: 0;
}

@media (min-width: 1024px) {
    #intro:before {
        @apply bottom-68;
    }
}